@charset "utf-8";

@media only screen and (max-width: 685px) {
    
    header .container {
        flex-direction: column;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .secondary {
        display: none;
    }

   .mobile {
        display: block !important;
    }

    .filme-info {
        display: none;
    }

  }
